// Set some default configs
params.report_template_dir = "nextseq-report"
params.workflow_label = "Demultiplexing"
username = System.getProperty("user.name")
params.email_host = "nyumc.org"
params.email_from = "${username}@${params.email_host}"
params.email_to = "${username}@${params.email_host}"

manifest {
    name = 'NYU-Molecular-Pathology/demuxR-nf'
    author = 'Varshini Vasudevaraja, Stephen Kelly'
    homePage = 'https://github.com/NYU-Molecular-Pathology/demuxR-nf'
    description = 'Illumina bcl2fastq demultiplexing pipeline for molecular research - Nextflow DSL2 '
    mainScript = 'main.nf'
    nextflowVersion = '24.04.2'
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

report {
    enabled = true
    file = "nextflow.html"
    report.overwrite = true
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
    trace.overwrite = true
}

timeline {
    enabled = true
    file = "timeline.html"
    timeline.overwrite = true
}

notification {
    enabled = true
    to = "${params.email_to}"
    from = "${params.email_from}"
}

dag {
    enabled = true
    file    = "pipeline_dag_${trace_timestamp}.html"
}

params.beforeScript_str = 'printf "USER:\${USER:-none} JOB_ID:\${JOB_ID:-none} JOB_NAME:\${JOB_NAME:-none} HOSTNAME:\${HOSTNAME:-none} PWD:\$PWD\n"; TIMESTART=\$(date +%s)'
process.beforeScript = "${params.beforeScript_str}"


params {
    sequencerDir = "/gpfs/data/molecpathlab/production/quicksilver"
    containerDir = "/gpfs/data/molecpathlab/containers/demux-nf/Updated"

    // PIPELINE INPUT
    runDir = null
    samplesheet = null
    outputDir = "output"

}

profiles { // locations to run the pipeline
    bigpurple { // NYULMC Big Purple HPC cluster
        process.executor = "slurm" // default process executor
        process.queue = "intellispace"
        process.clusterOptions = '--ntasks-per-node=1 --export=NONE'

        executor {
            $slurm {
                queueSize = 80
                exitReadTimeout = '90min'
                submitRateLimit = '10 sec'
                
            }
            $local {
                cpus = 8
                queueSize = 40
                memory = 64.GB
            }
        }

        process.module = "singularity/3.9.8"
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = "-B ${params.sequencerDir}"
        singularity.envWhitelist = "NTHREADS"

        // SLURM environment variables that I want to have printed out in every task stdout
        params.SLURM_vars='SLURM_JOB_ID SLURM_JOB_NAME SLURM_JOB_NODELIST SLURM_JOB_PARTITION SLURM_MEM_PER_CPU SLURM_MEM_PER_NODE SLURM_PRIO_PROCESS SLURM_SUBMIT_DIR SLURM_SUBMIT_HOST SLURM_TASK_PID SLURMD_NODENAME'

        process {
            // global process config
            // try to prevent error: module: command not found by sourcing module config, and pausing to allow environment to finish populating
            beforeScript = """
            . /etc/profile.d/modules.sh;
            sleep 1;
            printf "USER:\${USER:-none} HOSTNAME:\${HOSTNAME:-none} PWD:\$PWD NTHREADS:\${NTHREADS:-none}\n";
            for item in ${params.SLURM_vars}; do printf "\${item}: \${!item:-none}\t"; done;
            """
            time = '4h' // 4 hour default time limit for SLURM request
            cpus = 1 // default to 1 CPU for all tasks/jobs
            memory = { 8.GB * task.cpus }

            withName: VALIDATE_SAMPLESHEET {
                executor = "local"
                container = "${params.containerDir}/python-3.8.simg"
            }
            withName: SANITIZE_SAMPLESHEET {
                executor = "local"
                container = "${params.containerDir}/dos2unix-7.5.2.simg"
            }
            withName: BCL2FASTQ {
                executor = "local"
                container = "${params.containerDir}/bcl2fastq-2.20.0.422.simg"
                cpus = 8
                beforeScript = "export NTHREADS=8; ${process.beforeScript}"
                time = '18h'
            }
            withName: FASTQC {
                executor = "local"
                container = "${params.containerDir}/fastqc-0.12.1.simg"
            }
            withName: MULTIQC {
                executor = "local"
                container = "${params.containerDir}/multiqc-1.21.simg"
            }
            //Process for Archer API job submission
            withName: APIJOB {
                executor = "local"
                container = "${params.containerDir}/pythonvariantplex-3.8.simg"
            }
        }
    }
}


profiles { // pipeline run settings
    HiC {
        params.bcl2fastq_params = "--no-lane-splitting --ignore-missing-bcls --ignore-missing-filter --ignore-missing-positions --ignore-missing-controls --auto-set-to-zero-barcode-mismatches --find-adapters-with-sliding-window --adapter-stringency 0.9 --mask-short-adapter-reads 35 --minimum-trimmed-read-length 35"
    }
    Archer {
        params.bcl2fastq_params = "--no-lane-splitting"
    }
}



